html,
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.container {
    display: flex;
}
#list {
    display: flex;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-color: #C4C4C4;
    border-radius: 4px;
    width: 390px;
    margin: 100px auto;
    position: relative;
}

li {
    width: 130px;
    height: 130px;
    list-style: none;
}

button {
    width: 100px;
    height: 20px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
}

.left {
    margin-top: 150px;
    margin-left: 360px;
}
.right {
    margin-top: 150px;
    margin-left: 820px;
}
