html,
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.container {
    display: flex;
    position: relative;
}
.imgList {
    display: flex;
    overflow: hidden;
    padding: 0;
    background-color: #C4C4C4;
    border-radius: 4px;
    width: 390px;
    margin: 100px auto;
}

li {
    width: 130px;
    height: 130px;
    list-style: none;
}

.left_button {
    border: 40px solid transparent;
    border-right-color: gold;
    position: absolute;
    top: 120px;
    left: 350px;
 }

.right_button {
    border: 40px solid transparent;
    border-left-color: gold;
    border-right: 0;
    position: absolute;
    top: 120px;
    left: 851px;
}

.disabled {
    opacity: 0.5;
}

