@import "_variables";
@import "_mixins";

* {
  margin: 0;
  padding: 0;
}

.carusel {
  width: 390px;
  border: 2px solid #ccc;
  border-radius: 15px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #eee;
  
  .carusel_img {
    @include imgParams(130px);
  }
  .carusel_slides {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    transition: all 1s linear;
  }
}

.carusel_buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  button {
    width: 30px;
    cursor: pointer;
    &:hover {
      background-color: #ee9000;
      opacity: 0.8;
    }
  }
}